.button {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 12px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.button-medium {
  padding: 15px 20px;
}

.button-primary {
  margin-right: 15px;
  color: $color-text-tertiary;
  border: 2px solid $color-secondary;

  &:hover {
    color: $color-text-secondary;
    background-color: $color-secondary;
  }
}

.button-secondary {
  color: $color-text-secondary;
  border: 2px solid $color-primary;

  &:hover:hover {
    color: $color-text-tertiary;
    background-color: $color-primary;
  }
}

.button-tertiary {
  color: $color-text-secondary;
  background-color: $color-secondary;
  border: 2px solid $color-secondary;

  &:hover {
    color: $color-text-tertiary;
    background-color: $color-primary;
  }
}
