$color-text-primary: #25282b;
$color-text-secondary: #f7eeee;
$color-text-tertiary: #16487a;
$color-text-quaternary: #ab0707;
$color-primary: #f7eeee;
$color-secondary: #16487a;
$color-tertiary: #193b5d;
