@import "variables";
@import "buttons";
@import "reset";

body {
  background-color: $color-primary;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $color-primary;
}

.header-content {
  text-align: center;
  /* max-width: 856px; */
}

.header-title {
  color: $color-text-primary;

  span {
    color: $color-text-quaternary;
  }
}

.about {
  position: relative;
  padding: 30px 0 91px;
  color: $color-text-secondary;
  background-color: $color-secondary;
  clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 100%);
}

.about-content {
  @media (min-width: 992px) {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
  }
}

.about-img {
  width: 100%;
  max-width: 350px;
  border-radius: 8px;
}

.about-description {
  text-align: justify;
  padding: 30px;
}

.about-quote {
  text-align: center;
}

.projects {
  text-align: justify;
  padding: 30px 15px;
  background-color: $color-primary;
}

.project-article {
  @media (min-width: 992px) {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
  }
}

.article {
  padding-right: 30px;
}
.projects-img {
  width: 100%;
  max-width: 400px;
  margin: 30px 0;
  border-radius: 8px;
}

.contact {
  text-align: center;
  padding: 30px 0 30px;
  color: $color-text-secondary;
  background-color: $color-secondary;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
}

.footer {
  text-align: center;
  flex-direction: row;
  margin: 0;
  padding: 30px;
  color: $color-text-secondary;
  background-color: $color-tertiary;
}

.social-link {
  display: block;
  width: 23px;
  height: 23px;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: $color-primary;
}

.social-item {
  padding: 1px;
  display: inline-block;
  border-radius: 50%;
  background-color: $color-primary;
}

.linkedin {
  background-image: url(../../assets/img/icons/icon-linkedin.png);
}

.github {
  background-image: url(../../assets/img/icons/icon-github.png);
}
